// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #354052
$secondary = #2ea2f8
$tertiary  = #a9b0bb

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$text-opaque = #7f8fa4
$page-background = #eff3f6
$side-menu-background = #33323a
$card-border = #dfe2e5
$menu-1st-section = #66d4f1
$menu-last-section = #d56fac
$border-menu = #e5e9ef
$header-background = #f5f8fa

$b-3 = #4a88da
$r-3 = #d94452
$g-3 = #88c053
$y-3 = #f5b945
$lg-2 = #e3e8eb
$lg-4 = #7f8fa4
$dg-3 = #424852
$dg-1 = #a9b0bb