// For a list of Bootstrap variables you can override, look at node_modules\bootstrap\scss\_variables.scss
// For a list of mdboostrap variables you can override, look at node_modules\mdboostrap\scss\core
$font-family-base: 'Open Sans';

$primary:        #048AD3;
$success:        #1ad334;
$accent:         #1ad334;
$header-grey:    #A8A8A8;
$expired:        #FCCC2D;
$grey:           #848484;

$primary-color:        #1091A4;
$blue-color:           #0077C8;
$success-color:        #1ad334;
$accent-color:         #1ad334;

$primary-fade-color:   #6ca9b9;
$primary-fade-color-1: #57a1b2;
$primary-fade-color-2: #94bdc9;
$cell-dark-color:      #dedddd;
$cell-light-color:     #f4f2f3;
$cell-lighter-color:   #f1f1f2;

$enable-responsive-font-sizes: true;
