<!DOCTYPE html>
<html lang="it">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <link href="/static/css/default.min.css" rel="stylesheet" type="text/css">
</head>
<body class="docs">

<%- body -%>

</body>
</html>
