<div id="anag-cover" class="container container-height page-spacer" style="position: relative;">
    <div class="row vh-100">
        <div class="col-12">
            <div class="px-5 py-3">
                <div class="col-12 d-flex py-4">
                    <div class="field-label">Il sottoscritto</div>
                    <div class="border-bottom-field" style="max-width: 400px;"><%= customer.name %>   <%= customer.surname %></div>
                </div>
                <div class="col-12 d-flex py-4">
                    <div class="field-label">C.F. </div>
                    <div class="border-bottom-field" style="max-width: 300px;">&nbsp;<%= customer.fiscalCode %> </div>
                </div>
                <div class="col-12">
                    <p class="p4"><span class="s1">dichiara che il proprio reddito derivante da attività di lavoro autonomo occasionale, su base annua</span></p>
                </div>
                <div class="col-12 py-2">
                    <div class="media">
                        <div class="square"></div>
                        <div class="media-body pl-2 text-answer">
                            NON supera l’importo di € 5.000 lordi
                        </div>
                    </div>

                </div>
                <div class="col-12 py-2">
                    <div class="media">
                        <div class="square"></div>
                        <div class="media-body pl-2 text-answer">
                            Supera l’importo di €5.000 lordi (anche con più committenti)
                        </div>
                    </div>
                </div>

                <div class="col-12 py-2">
                    <p class="p1"><span class="s1">Il sottoscritto/a dichiara altres&igrave;:</span></p>
                    <p class="p2"><span class="s1">- di essere a conoscenza di doversi iscrivere alla Gestione separata presso l&rsquo;INPS, qualora il reddito annuo derivante da attivit&agrave; di lavoro autonomo occasionale superi l&rsquo;importo di &euro; 5000;</span></p>
                    <p class="p2"><span class="s1">- di impegnarsi a presentare tempestivamente una nuova dichiarazione in caso di variazione reddituale e/o previdenziale.</span></p>
                    <p class="p2"><span class="s1">- di essere a conoscenza che le dichiarazioni mendaci, la falsit&agrave; negli atti e l&rsquo;uso di atti falsi sono puniti con le sanzioni previste dalla legge penale e dalle leggi speciali in materia.</span></p>
                </div>

                <div class="col-12 py-4 row">
                    <div class="col-12">
                        In fede,
                    </div>
                    <div class="col-4">
                        Data e luogo  <br><br><br><br><br>
                        <div class="border-bottom-field">&nbsp;</div>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        Firma<br><br><br><br><br>

                        <div class="border-bottom-field">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="page-break-after:always;"></div>
</div>

