<div class="break-elem">
  <div class="header-block mt-5 mb-3">SODDISFAZIONE DELLE ASPETTATIVE DEL CLIENTE</div>
  <div class="text-block row py-3">
    <div class="col-12">
      <p>Sheltia monitora <strong>la qualità del servizio offerto e la professionalità dei suoi consulenti.</strong>
        <br>
        Uno degli obiettivi principali di Sheltia è quello di <strong>rafforzare la consapevolezza</strong> dei nostri clienti rispetto alle scelte da fare ed alle azioni da intraprendere in materia di risparmio, investimento, previdenza e protezione, attraverso la consulenza e l’informazione.
      </p>
    </div>
    <div class="col-12">
      <p>Quale ritiene che sia stato il Suo <strong>grado di conoscenza</strong> in materia di risparmio, investimento, previdenza e protezione,<strong>prima</strong> dell'incontro con il nostro consulente? [indicare un punteggio da 1 (minimo) a 5 (massimo)]</p>
      <div class="square"></div>
    </div>
    <div class="col-12">
      <p>Quale ritiene che sia ora il Suo <strong>grado di conoscenza</strong> in materia di risparmio, investimento, previdenza e protezione,<strong>dopo</strong> l'incontro con il nostro consulente? [indicare un punteggio da 1 (minimo) a 5 (massimo)]</p>
      <div class="square"></div>
    </div>
    <div class="col-12 mt-3">
      <p>Nel complesso, <strong>quanto Lei è soddisfatto/a</strong> della consulenza e del servizio ricevuti?</p>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">Molto soddisfatto</div>
      </div>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">Mediamente soddisfatto</div>
      </div>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">Insoddisfatto</div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <p>Cosa <strong>ha influenzato</strong> il Suo livello di soddisfazione? [indicare un punteggio da 1 (minimo) a 5 (massimo)]</p>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">La preparazione del consulente</div>
      </div>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">La capacità del consulente di ascoltare e capire la mia situazione</div>
      </div>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">La capacità comunicativa del consulente</div>
      </div>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">Le informazioni che ho ricevuto</div>
      </div>
      <div class="d-block py-1">
        <div class="square"></div>
        <div class="text-answer">Altro (specificare: _____________________________________________________________________________)</div>
      </div>
    </div>
  </div>
</div>
<div class="break-elem">
  <div class="col-12 mt-3">
    <p>Se Lei è rimasto soddisfatto/a, pensa che, come Lei, anche un Suo famigliare, o amico /a, o collega possa trarre vantaggio dal ricevere questa consulenza?
    </p>
    <div class="d-block py-1">
      <div class="square"></div>
      <div class="text-answer">Sì</div>
    </div>
    <div class="d-block py-1">
      <div class="square"></div>
      <div class="text-answer">No</div>
    </div>
  </div>
  <div class="col-12 mt-3">
    <p>
      Se sì, sarebbe disponibile a <strong>presentare Sheltia</strong> a questa persona, ed in caso positivo, come potremmo attivare il contatto?
    </p>
    <p>
      Nome e cognome _____________________________________________________________________________________________
    </p>
    <p>
      Telefono cellulare _____________________________  Email _________________________________________________________
    </p>
  </div>
</div>
