<div class="header-section mt-5 mb-3">1. Come Sheltia risponde alle esigenze del cliente</div>
<div class="px-5">
  <div class="text-primary text-bold-black font-italic text-center mb-3">La piramide illustra le modalità con cui Sheltia può rispondere alle esigenze dei nostri clienti</div>
  <div class="row">
    <div class="col">
      <img class="d-block m-auto w-100" src="/static/images/piramide.png" alt="piramide">
    </div>
  </div>
  <div class="text-primary text-bold-black font-italic text-center mb-3">
    Con riferimento a questo schema, Le domande che Le faremo ci consentiranno di rispondere nel modo più adeguato possibile alle Sue esigenze specifiche
  </div>
</div>
