<p class="mt-5 mb-3 text-center"> <strong>QUESTIONARIO DI COERENZA PER LA VALUTAZIONE DEGLI OBIETTIVI E DELLE ESIGENZE DEL CLIENTE</strong></p>
<br>
<p class="text-center"><strong>Avvertenze per il Contraente</strong></p>
<div class="px-5 mb-5 pb-4">
  <div class="row">
    <div class="col">
      <p>Così come disposto dal Regolamento IVASS n. 40/2018, il presente questionario ha lo scopo di <strong>acquisire, nel Suo interesse, le informazioni necessarie a valutare le Sue esigenze assicurative</strong>, tenendo presente che la mancanza di queste informazioni potrebbe pregiudicare l&rsquo;individuazione del contratto coerente con le Sue richieste ed esigenze.</p>
      <p>L&rsquo;<strong>eventuale RIFIUTO</strong> a fornire una o più delle informazioni richieste, dovrà risultare da apposita dichiarazione da Lei sottoscritta. Tale rifiuto pregiudica la capacità di individuare il contratto coerente con le Sue richieste ed esigenze.</p>
      <p>Prima di procedere alla compilazione del presente Questionario, La invitiamo a leggere attentamente le avvertenze di seguito riportate:</p>
      <ol>
        <li>
          <p>La preghiamo di rispondere in modo <strong>completo ed esauriente </strong> a ciascuna domanda.</p>
        </li>
        <li>
          <p>Se qualcuno dei quesiti che Le vengono posti richiedesse una <strong>risposta articolata</strong>, occorrerà utilizzare per la</p>
          <p>risposta un foglio separato, datato e firmato.</p>
        </li>
        <li>
          <p>Ricordi che le risposta fornite a ciascuna domanda, oltre a costituire la base delle nostre valutazioni, costituiranno</p>
          <p>parte delle dichiarazioni sulle quali si baserà l'eventuale assicurazione: esse devono quindi essere <strong>veritiere</strong> per consentire - oltre ad un corretto apprezzamento del rischio - di evitarLe rischi di recesso o di impugnazione del contratto per ottenerne l'annullamento da parte dell'Assicuratore, ed in generale tutte le conseguenze a Suo danno previste dagli artt. 1892 (&ldquo;Dichiarazioni inesatte e reticenze con dolo o colpa grave&rdquo;), 1893 (&ldquo;Dichiarazioni inesatte e reticenze senza dolo o colpa grave&rdquo;) e 1894 (&ldquo;Assicurazione in nome o per conto di terzi&rdquo;) del Codice Civile</p>
        </li>
      </ol>
    </div>
  </div>
</div>
