<div class="mini-font footer atto-nomina-footer">
    <div class="row pt-3">
        <div class="col-4">
            <p>
                Sheltia Srl
            </p>
        </div>
        <div class="col-4">
            <p>
                Sede Legale: <br>
                via Ennio Quirino Visconti, 103
                <br/>
                00193 Roma
                <br/>
                www.sheltia.com
            </p>
        </div>
        <div class="col-4">
            <p>
                cap. Sociale € 50.000 int. Versato
                <br/>
                CF e P.IVA 13172161005
                <br/>
                REA RM1427757
                <br/>
                RUI sez. B 000511867
            </p>
        </div>
    </div>
</div>
