.userActionModalDialog {
  max-width: 418px;
  margin-top: 10.75rem;
  margin-left: auto;
  margin-right: auto;
}
.afterPublishCardModalDialogModal {
  max-width: 766px;
  margin-top: 5.75rem;
  margin-left: auto;
  margin-right: auto;
}
