#Confetti_Frame_1 {
  transform-box: fill-box;
  transform-origin: 50% 50%;

  #Confetti_Vector_Group {
    opacity: 0;
    animation: Confetti_Vector_Group 0.5s linear 0.4s 1 normal forwards running;
    transform-box: fill-box;
    transform-origin: 50% 50%;
  }

  #Confetti_Ellipse_Group {
    opacity: 0;
    animation: Confetti_Ellipse_Group 0.5s linear 0.5s 1 normal forwards running;
    transform-box: fill-box;
    transform-origin: 50% 50%;
  }
}
